.container{
   display: flex;
    justify-content: center; 
    align-items: center ;
    height: 100vh;
}

.form-container{
   display: flex;
   flex-direction: column;
   column-gap: 3px;
    padding:10px;
     border:1px solid black;
    border-radius: 8px; 
    box-shadow:10px; 
    background-color: white;
    width: max-content;
    text-align:center;
}


 .title {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
  }


.labelcontent{
    display: block;
    color: black;
    font-weight: 600;
    margin-bottom: 4px; 
}

.input{
    
    width: 450px;
  padding:10px ;
  margin: 8px 0;
  outline: none;
  border: 1px solid #3a3939;
  border-radius: 5px;
}

.input:focus{
    box-shadow: 0 0 0 1px #eef0f3;
}
.bt{
    display: flex;
    justify-content: space-evenly;
    flex-direction:row;
    column-gap: 5px;
}
.btn{
    width: 230px;
     padding:10px;
     background-color: rgb(6, 26, 237);
      color:white;
     font-weight:bold; 
     border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
}

.btn:hover{
    background-color: skyblue; 
    transition :all;
    color: white;
}

.upload-btn {
   
    width: 250px;
    background: #03719c;
    color: white;
    padding: 15px 0;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 100px;
  }
  .upload-btn:hover {
    background: #06aa91;
  }
  
  .upload-btn svg {
    margin-right: 8px;
  }
  
  .hidden-input {
    display: none;
  }
 
  
  