.button {
    background-color: #07225b; 
    color: white; 
    padding: 0.5rem 1rem; 
    width: 7rem; 
    border-radius: 0.375rem; 
    margin-left: 2.5rem; 
    transition: background-color 0.3s ease-in-out; 
  }
  
  .button:hover {
    background-color: #256ca7; 
  }
  